.string {
    color: #000;
    font-family: 'my-typewriter';
    font-size: 2rem;
}

.name {
    color: blue;
    font-weight: 600;
    font-family: 'my-typewriter';
}

.red {
    color: red
}

.blue {
    color: blue
}

.cursor {
    font-size: 2rem;
}

@font-face {
    font-family: 'my-typewriter';
    src: url(./fonts/Kingthings_Trypewriter_2.ttf)
}